.container{
    background: url(../bg2.jpg);
         padding: 68px 4px;
         text-align: center;
         margin-top: 7px;
}

table{
    margin: auto;
}
input{
   
    border-radius: 22px;
    border: 7px solid #9fa8da;
    font-size:30px;
}

button{
     background-color: #EEEEEE;
    border-radius: 9px;
    font-size: 35px;
    width: 70px;
    height: 50px;   
}
.calculator{
    padding: 9px;
    border-radius: 9px;
    border: whitesmoke;
    display: inline-block
}

h1{
    color: #f5f5f5;
    border-radius: 2px;
    text-decoration: underline;
    font-family: "arial black",Gadget,sans-serif;
}